/* css Zen Garden default style v1.02 */
/* css released under Creative Commons License - http://creativecommons.org/licenses/by-nc-sa/1.0/  */

/* This file based on 'Tranquille' by Dave Shea */
/* You may use this file as a foundation for any new work, but you may find it easier to start from scratch. */
/* Not all elements are defined in this file, so you'll most likely want to refer to the xhtml as well. */

/* Your images should be linked as if the CSS file sits in the same folder as the images. ie. no paths. */


/* basic elements */
html {
	margin: 0;
	padding: 0;
	}
body { 
	font: 75% georgia, sans-serif;
	line-height: 2.3;
	color: #555753; 
	background-image: url(background.jpg); 
	height: 200vh;
	margin: 0; 
	padding: 0;
	background-repeat: repeat;
	}
hr {
	border-style: none;
	border-top-style: dotted;
	border-color: grey;
	border-width: 7px;
	width: 20%;
	padding: 20px 20px;
}	

	
p { 
	font-style: italic;
	font-size: 20px;
	margin-top: 0; 
	text-align: left;
	}
h3 { 
	font: italic normal 3.4em georgia, cursive;
	letter-spacing: 1px; 
	margin-bottom: 0 ; 
	color: brown;
	text-align: center;
	font-size: 40px;
	}
a:link { 
	font-weight: bold; 
	text-decoration: none; 
	color: red;
	}
a:visited { 
	font-weight: bold; 
	text-decoration: none; 
	color: black;
	}
a:hover, a:focus, a:active { 
	text-decoration: underline; 
	color:black;
	}
abbr {
	border-bottom: none;
	}


/* specific divs */
.page-wrapper { 
	background: no-repeat top left; 
	padding: 0 175px 0 110px;  
	margin: 0; 
	position: relative;
	}

.intro { 
	min-width: 470px;
	width: 80%;
	}

header h1 { 
	
	background: transparent url(logo.png) no-repeat top left;
	position:fixed;
	margin-top: 10px;
	width: 319px;
	height: 100px;
	float: left;

	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	}
header h2 { 
	font-size: 50px;
	background: transparent url(css-beauty.png) no-repeat top left; 
	margin-top: 58px; 
	margin-bottom: 40px; 
	width: 200px; 
	height: 120px; 
	float: right;

	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	}
header {
	padding-top: 20px;
	height: 100px;
}

.summary {
	font-size: 30px;
	font-family: Arial, Helvetica, sans-serif;
	clear: both; 
	margin: 20px 20px 20px 10px; 

	}
.summary p {
	font: italic 1.1em/2.2 georgia; 
	text-align: center;
	}

.preamble {

	background-size: contain;
	height: 0;
	position:relative auto ;
	left: 0%;
	right:0%;
	width: 40%;
	clear: left; 
	padding: 10px 10px 10px;
	}
.supporting {	
	
	background-size: cover;
	height: 150vh;
	position:relative;
	left: 45%;
	right:10%;
	width:45%;
	
	clear: right; 
	padding: 10px 10px 10px;
	}

footer { 
	text-align: center; 
	position: fixed;
	left: 0;
	bottom:0;
	width :100%;
	background-color: transparent;

	}
footer a:link, footer a:visited { 
	margin-right: 30px; 
	}

.sidebar {
	margin-left: 500px; 
	position: absolute; 
	top: 0; 
	right: 0;
	
	}
.sidebar .wrapper { 
	font: 20px verdana, sans-serif; 
	background: transparent url(background.jpg) top left repeat-y; 
	padding: 10px; 
	margin-top: 150px; 
	width: 230px; 
	}
.sidebar h3.select { 
	background: transparent no-repeat top left; 
	margin: 10px 0 5px 0; 
	width: 97px; 
	height: 16px; 

	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	}
.sidebar h3.archives { 
	background: transparent url(http://csszengarden.com/001/h5.gif) no-repeat top left; 
	margin: 25px 0 5px 0; 
	width:57px; 
	height: 14px; 

	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	}
.sidebar h3.resources { 
	background: transparent url(http://csszengarden.com/001/h6.gif) no-repeat top left; 
	margin: 25px 0 5px 0; 
	width:63px; 
	height: 10px; 

	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	}


.sidebar ul {
	margin: 0;
	padding: 0;
	}
.sidebar li {
	line-height: 1.5em; 
	background: transparent url(http://csszengarden.com/001/cr1.gif) no-repeat top center; 
	display: block; 
	padding-top: 5px; 
	margin-bottom: 5px;
	list-style-type: none;
	}
.sidebar li a:link {
	color: blue;
	}
.sidebar li a:visited {
	color: #B3AE94;
	}


.extra1 {
	background: transparent url(logo.png) top left no-repeat; 
	position: absolute;  
	top: 40px; 
	right: 40px; 
	width: 200px; 
	height: 110px;
	}
footer .button {
	background-color:white;
	border :none;
	color: black;
	padding: 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 26px;
	margin: 2px 2px;
	transition-duration: o,4s;
	cursor: pointer;
	border-radius: 26px;
	width: 8%;
	
}
.button:hover{
	background-color: #4cAF50;
	color:white;
}
.requirements{
	margin-bottom: 100px;
}
